body {
	margin: 0px;
	width: 100%;
}

#header {
	width: 100%;
	height: 90px;
	background-color: #F0FFFF;
	padding-top: 40px;
	margin: 0px;
	font-family: cursive;
	font-size: 2.0em;
}

#menu {
	width: 182px;
	border: 1px solid black;
	display: block;
	float: left;
}

.item {
	width: inherit;
	height: 72px;
	background-image: url("/images/sample_menu.gif");
	text-align: center;
	display: block;
}

.item a {
	text-decoration: none;
	color: white;
	border: 1px solid black;
	margin-top: 45px;
}

#content {
	width: 70%;
	display: block;
	float: left;
	padding: 20px;
	border: 1px black solid;
}

#ads {
	width: 20%;
	display: block;
	float: left;
	padding: 20px;
}